<h2><%= t "admin.tweets.index.not_posted" %></h2>

<ul>
  <% @unposted.each do |tweet| %>
    <li>
      <%= tweet.formatted_tweeted_at "" %>
      <a href="/admin/tweets/<%= tweet.id %>/edit"><%= tweet.description %></a>
    </li>
  <% end %>
</ul>

<h2><%= t "admin.tweets.index.posted" %></h2>

<ul>
  <% @posted.each do |tweet| %>
    <li>
      <%= tweet.formatted_tweeted_at "" %>
      <a href="/admin/tweets/<%= tweet.id %>/edit"><%= tweet.description %></a>
    </li>
  <% end %>
</ul>
