<h2>Not yet posted</h2>

<ul>
  <% @unposted.each do |post| %>
    <li>
      <%= post.formatted_posted_at "" %>
      <a href="/blog_admin/<%= post.id %>/edit"><%= post.title %></a>
      (<a href="/blog_admin/<%= post.url_title %>/preview">preview</a>)
    </li>
  <% end %>
</ul>

<h2>Posted</h2>

<ul>
  <% @posted.each do |post| %>
    <li>
      <%= post.formatted_posted_at "" %>
      <a href="/blog_admin/<%= post.id %>/edit"><%= post.title %></a>
      (<a href="/blog_admin/<%= post.url_title %>/preview">preview</a>)
    </li>
  <% end %>
</ul>
