<h2><%= t "admin.suggestions.index.shown" %></h2>

<%= form_tag "/admin/suggestions/toggle", :method => :post do %>
  <ul>
    <% @suggestions.each do |suggestion| %>
      <li>
        <label>
          <input type="checkbox" name="ids[]" value="<%= suggestion.id %>" />
          <%= suggestion.formatted_created_at %>:
          <%= suggestion.truncated_content %><br />
          <%= t "admin.suggestions.index.byline", :name => truncate(suggestion.name, :length => 32) %>
        </label>
        <a href="/admin/suggestions/<%= suggestion.id %>"><%= t "admin.suggestions.index.show" %></a>
      </li>
    <% end %>
  </ul>

  <input type="submit" value="<%= t "admin.suggestions.index.hide" %>" />
<% end %>
