<% content_for :rss_title, "#{this_site.settings[:site_name]} Comic (Mobile Edition)" %>
<% content_for :pub_date, @feed.pub_date %>

<% @feed.items.each do |item| %>
  <item>
    <title><%= item.title %></title>
    <description>
      <%= %{
        <h1>#{h item.title}</h1>
        <p>
          <img src="#{h item.img_url}" title="#{h item.title_text}" />
        </p>
        #{item.description}
        <p style="background: #eff8bd; width: 85%; margin: 20px auto 0 auto; border: 1px solid #d5eab7; padding: 4px 10px; display: block;">
          #{h item.title_text}
        </p>
      } %>
    </description>
    <link>http://<%= this_site.settings[:domain] %>/comic/<%= item.number %></link>
    <guid>http://<%= this_site.settings[:domain] %>/comic/<%= item.number %></guid>
    <pubDate><%= item.pub_date %></pubDate>
  </item>
<% end %>
