<h2>Not yet posted</h2>

<ul>
  <% @unposted.each do |page| %>
    <li>
      <a href="/page_admin/<%= page.id %>/edit"><%= page.title %></a>
      (<a href="/page_admin/<%= page.path %>/preview">preview</a>)
    </li>
  <% end %>
</ul>

<h2>Posted</h2>

<ul>
  <% @posted.each do |page| %>
    <li>
      <a href="/page_admin/<%= page.id %>/edit"><%= page.title %></a>
      (<a href="/page_admin/<%= page.path %>/preview">preview</a>)
      (<a href="/<%= page.path %>">show</a>)
    </li>
  <% end %>
</ul>
