<p>
  <a href="/admin/accounts/<%= @user.id %>/edit"><%= t "accounts.show.edit" %></a>
</p>

<p>
  <%= t "accounts.show.email" %> <%= @user.email %>
</p>

<p>
  <%= t "accounts.show.name" %> <%= @user.name %>
</p>
