<h2><%= t "admin.blog.index.not_posted" %></h2>

<ul>
  <% @unposted.each do |post| %>
    <li>
      <%= post.formatted_posted_at "" %>
      <a href="/admin/blog/<%= post.id %>/edit"><%= post.title %></a>
      (<a href="/admin/blog/<%= post.url_title %>/preview"><%= t "admin.blog.index.preview" %></a>)
    </li>
  <% end %>
</ul>

<h2><%= t "admin.blog.index.posted" %></h2>

<ul>
  <% @posted.each do |post| %>
    <li>
      <%= post.formatted_posted_at "" %>
      <a href="/admin/blog/<%= post.id %>/edit"><%= post.title %></a>
      (<a href="/admin/blog/<%= post.url_title %>/preview"><%= t "admin.blog.index.preview" %></a>)
    </li>
  <% end %>
</ul>
