<% content_for :subtabs do %>
  <a class="subtab" href="/blog"><%= t "admin.blog.layout.latest" %></a>
  <a class="subtab" href="/admin/blog"><%= t "admin.blog.layout.list" %></a>
  <a class="subtab" href="/admin/blog/new"><%= t "admin.blog.layout.new" %></a>
  <a class="subtab" href="/admin/blog/preview"><%= t "admin.blog.layout.preview" %></a>
<% end %>

<% content_for :page_title, t("admin.blog.layout.section") %>
<% content_for(:content) { yield } %>
<%= render :template => "layouts/admin" %>
