<h2><%= t "admin.comic.index.not_posted" %></h2>

<ul>
  <% @unposted.each do |comic| %>
    <li>
      <%= comic.formatted_posted_at "" %>
      <a href="/admin/comic/<%= comic.number %>/edit"><%= comic.title %></a>
      (<a href="/admin/comic/<%= comic.number %>/preview"><%= t "admin.comic.index.preview" %></a>)
    </li>
  <% end %>
</ul>

<h2><%= t "admin.comic.index.posted" %></h2>

<ul>
  <% @posted.each do |comic| %>
    <li>
      <%= comic.formatted_posted_at "" %>
      <a href="/admin/comic/<%= comic.number %>/edit"><%= comic.title %></a>
      (<a href="/admin/comic/<%= comic.number %>/preview"><%= t "admin.comic.index.preview" %></a>)
      (<a href="/comic/<%= comic.number %>"><%= t "admin.comic.index.show" %></a>)
    </li>
  <% end %>
</ul>
