<div class="tabs">
  <% Setting.tabs.each do |tab| %>
    <a href="/settings/<%= tab %>" class="tab <%= "selected_tab" if tab == params[:id].to_sym %>"><%= Setting::Tab[tab].localized %></a>
  <% end %>
</div>

<%= form_tag "/settings/#{@tab.label}", :method => :put do %>
  <% @tab.sections.each do |section| %>
    <div class="section">
      <h2><%= @tab[section].localized %></h2>

      <% @tab[section].settings.each do |setting| %>
        <%# Other setting types to come later %>
        <% next unless Setting::Meta[setting].select_from || [:string, :boolean, :int].include?(Setting::Meta[setting].type) %>
        <p>
          <input type="hidden" name="included_settings[]" value="<%= setting %>" />
          <label>
            <%= Setting::Meta[setting].localized %>
            <% if Setting::Meta[setting].select_from %>
              <select name="<%= setting %>">
                <% Setting::Meta[setting].select_from_options.each do |option| %>
                  <option value="<%= option %>" <%= selected option, Setting[setting] %>><%= option %></option>
                <% end %>
              <select name="<%= setting %>" value="<%= Setting[setting] %>">
            <% elsif Setting::Meta[setting].type == :string %>
              <input type="text" name="<%= setting %>" value="<%= Setting[setting] %>" size="60" />
            <% elsif [:int, :float].include?(Setting::Meta[setting].type) %>
              <input type="text" name="<%= setting %>" value="<%= Setting[setting] %>" size="10" />
            <% elsif Setting::Meta[setting].type == :boolean %>
              <input type="checkbox" name="<%= setting %>" value="true" <%= checked Setting[setting] %> />
            <% end %>
          </label>
        </p>
      <% end %>
    </div>
  <% end %>

  <input type="submit" value="<%= t "settings.show.save" %>" />
<% end %>
