<p>
  <%= form_tag "/comic_admin/#{@comic.number}/#{lock_toggle_target}", :method => :post do %>
    <input type="submit" value="<%= lock_toggle_target %>" />
  <% end %>
</p>

<%= form_tag "/comic_admin/#{@comic.number}", :method => :put, :multipart => true do %>
  <table>
    <tr><td colspan="2">Comic: <%= @comic.number %></td></tr>
    <tr><td colspan="2">Post Date: <%= @comic.posted_at.strftime "%a, %-m/%-d/%Y" %></td></tr>

    <tr>
      <td colspan="2">
        Title:<br />
        <input type="text" name="title" value="<%= @comic.title %>" tabindex="1" <%= lock_disabled %> />
      </td>
    </tr>

    <tr>
      <td>
        Description:<br />
        <textarea name="description" rows="5" cols="50" autofocus="autofocus" tabindex="2" <%= lock_disabled %>><%= @comic.description %></textarea>
      </td>
      <td>
        Scene Description:<br />
        <textarea name="scene_description" rows="5" cols="50" tabindex="4" <%= lock_disabled %>><%= @comic.scene_description %></textarea>
      </td>
    </tr>

    <tr>
      <td>
        Title Text:<br />
        <textarea name="title_text" rows="5" cols="50" tabindex="3" <%= lock_disabled %>><%= @comic.title_text %></textarea>
      </td>
      <td>
        Dialogue:<br />
        <textarea name="dialogue" rows="5" cols="50" tabindex="5" <%= lock_disabled %>><%= @comic.dialogue %></textarea>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        Tweet:
        <% if @comic.tweeted_at %>
          <em>(sent <%= @comic.tweeted_at.strftime "%-m/%-d/%Y %-l:%M %P" %>)</em>
        <% end %>
        <br />
        <textarea name="tweet" rows="2" cols="100" tabindex="6" <%= lock_disabled %>><%= @comic.tweet %></textarea>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        Image:<br />
        <input name="image" type="file" tabindex="7" <%= lock_disabled %> />
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <input type="submit" value="Save" tabindex="8" <%= lock_disabled %> />
      </td>
    </tr>
  </table>
<% end %>

<p>
  Current Image:<br />
  <img src="<%= @comic.preview_img_url %>" />
</p>
