<% Cartoonist::Entity.hooks_with(:edit_entity_before_partial).each do |hook| %>
  <%= render :partial => hook.edit_entity_before_partial, :locals => { :entity => @post } %>
  <hr />
<% end %>

<p>
  <a href="/admin/blog/<%= @post.url_title %>/preview">Preview this post</a>
</p>

<p>
  <%= form_tag "/admin/blog/#{@post.id}/#{lock_toggle_target}", :method => :post do %>
    <input type="submit" value="<%= lock_toggle_target %>" />
  <% end %>
</p>

<%= form_tag "/admin/blog/#{@post.id}", :method => :put do %>
  <p>
    <label><input type="checkbox" name="posted" value="true" <%= checked="checked".html_safe if @post.posted_at %> <%= lock_disabled %> />Posted at</label>
    <input type="text" name="posted_at_date" value="<%= format_posted_at "%Y-%m-%d" %>" <%= lock_disabled %> />
    <select name="posted_at_hour" <%= lock_disabled %>>
      <% 1.upto 12 do |h| %>
        <option value="<%= h %>" <%= selected h, format_posted_at("%-l").to_i %>><%= h %></option>
      <% end %>
    </select>
    <select name="posted_at_minute" <%= lock_disabled %>>
      <% 0.upto 60 do |m| %>
        <option value="<%= m %>" <%= selected m, format_posted_at("%-M").to_i %>><%= m %></option>
      <% end %>
    </select>
    <select name="posted_at_meridiem" <%= lock_disabled %>>
      <option value="am" <%= selected "am", format_posted_at("%P") %>>am</option>
      <option value="pm" <%= selected "pm", format_posted_at("%P") %>>pm</option>
    </select>
    <input type="submit" name="post_now" value="Post Now" <%= post_lock_disabled %> />
    <input type="submit" name="post_in_hour" value="Post in an Hour" <%= post_lock_disabled %> />
  </p>

  <p>
    URL Title: <%= @post.url_title %>
  </p>

  <p>
    Title:
    <input type="text" name="title" size="100" value="<%= @post.title %>" <%= lock_disabled %> />
  </p>

  <p>
    Author:
    <input type="text" name="author" size="20" value="<%= @post.author %>" <%= lock_disabled %> />
  </p>

  <p>
    <input type="submit" value="Save" <%= lock_disabled %> />
    <input type="button" value="Preview" class="preview-content" />
  </p>

  <p>
    Content:<br />
    <textarea name="content" rows="20" cols="100" <%= lock_disabled %>><%= @post.content %></textarea><br />
  </p>

  <p>
    <input type="submit" value="Save" <%= lock_disabled %> />
    <input type="button" value="Preview" class="preview-content" />
  </p>
<% end %>

<hr />

<div class="preview-content">
</div>

<% Cartoonist::Entity.hooks_with(:edit_entity_after_partial).each do |hook| %>
  <hr />
  <%= render :partial => hook.edit_entity_after_partial, :locals => { :entity => @post } %>
<% end %>
