<% Cartoonist::Entity.hooks_with(:edit_entity_before_partial).each do |hook| %>
  <%= render :partial => hook.edit_entity_before_partial, :locals => { :entity => @post } %>
  <hr />
<% end %>

<p>
  <a href="/admin/blog/<%= @post.url_title %>/preview">Preview this post</a>
</p>

<p>
  <%= form_tag "/admin/blog/#{@post.id}/#{lock_toggle_target}", :method => :post do %>
    <input type="submit" value="<%= lock_toggle_target %>" />
  <% end %>
</p>

<%= form_tag "/admin/blog/#{@post.id}", :method => :put do %>
  <p>
    <%= render :partial => "shared/post_date_time", :locals => { :postable => @post, :fields_disabled => @post.locked, :post_disabled => (@post.locked || @post.posted?) } %>
  </p>

  <p>
    URL Title: <%= @post.url_title %>
  </p>

  <p>
    Title:
    <input type="text" name="title" size="100" value="<%= @post.title %>" <%= lock_disabled %> />
  </p>

  <p>
    Author:
    <input type="text" name="author" size="20" value="<%= @post.author %>" <%= lock_disabled %> />
  </p>

  <p>
    <input type="submit" value="Save" <%= lock_disabled %> />
    <input type="button" value="Preview" class="preview-content" />
  </p>

  <p>
    Content:<br />
    <textarea name="content" rows="20" cols="100" <%= lock_disabled %>><%= @post.content %></textarea><br />
  </p>

  <p>
    <input type="submit" value="Save" <%= lock_disabled %> />
    <input type="button" value="Preview" class="preview-content" />
  </p>
<% end %>

<hr />

<div class="preview-content">
</div>

<% Cartoonist::Entity.hooks_with(:edit_entity_after_partial).each do |hook| %>
  <hr />
  <%= render :partial => hook.edit_entity_after_partial, :locals => { :entity => @post } %>
<% end %>
