<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || this_site.settings[:site_name] %></title>
    <%= stylesheet_link_tag Cartoonist::Theme.css %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5">
    <%= yield :additional_meta_tags %>
    <% if @output_csrf_meta_tags %>
      <%= csrf_meta_tags %>
    <% end %>
    <link rel="icon" href="http://<%= this_site.settings[:domain] %><%= asset_path Cartoonist::Theme.favicon %>" type="image/x-icon" />
    <link rel="shortcut icon" href="http://<%= this_site.settings[:domain] %><%= asset_path Cartoonist::Theme.favicon %>" type="image/x-icon" />
    <% if rss? %>
      <link href="<%= rss_path %>" rel="alternate" title="<%= rss_title %>" type="application/rss+xml" />
    <% end %>
    <% if !preview? && Rails.env.production? %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%= j this_site.settings[:google_analytics_account] %>']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% elsif !preview? %>
      <!-- Google analytics goes here on live -->
    <% end %>
  </head>
  <body>
    <div class="site-wrapper">
      <div class="header">
        <div class="main-header">
          <div class="logo"><%= t "cartoonist.layout.logo" %></div>
          <h1 class="site-name"><%= this_site.settings[:site_name] %></h1>
          <h2 class="heading"><%= this_site.settings[:site_heading] %></h2>
          <h2 class="site-updates"><%= this_site.settings[:site_update_description] %></h2>

          <div class="small-buttons">
            <%= yield :small_buttons %>
          </div>
        </div>

        <div class="navigation">
          <div class="long-buttons">
            <% Cartoonist::Navigation::Link.all.each do |link| %>
              <a class="<%= link.class %>" href="<%= link.url preview? %>" title="<%= t link.title if link.title %>"><%= t link.label %></a>
            <% end %>
          </div>
        </div>
      </div>

      <div class="content-container">
        <div class="content-header"></div>
        <div class="content <%= yield(:content_class) || "default-content" %>">
          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
        <div class="content-footer"></div>
      </div>

      <% if @disqus_enabled %>
        <div class="comments-container">
          <div id="disqus_thread">
          </div>
          <noscript>
            <%= t "cartoonist.layout.disqus.noscript_pre_link" %><a href="http://disqus.com/?ref_noscript"><%= t "cartoonist.layout.disqus.noscript_link" %></a><%= t "cartoonist.layout.disqus.noscript_post_link" %>
          </noscript>
        </div>
      <% end %>

      <div class="footer">
        <%= yield :post_date_content %>
        <p class="copyright"><%= copyright_message %></p>
        <%= yield :admin_content %>
        <% if licensed? %>
          <div class="license">
            <p>
              This work is licensed under a
              <a href="<%= content_license_url %>">Creative Commons
              Attribution-Noncommercial 3.0 Unported License</a>.
              <a href="/license">See details</a>.
            </p>

            <div class="license-buttons-container">
              <div class="license-buttons">
                <a href="<%= content_license_url %>" class="cc-logo">Creative Commons</a>
                <a href="<%= content_license_url %>" class="cc-attribute">Attribution</a>
                <a href="<%= content_license_url %>" class="cc-non-commercial">Noncommercial</a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% if @disqus_enabled && Rails.env.production? %>
      <script type="text/javascript">
        var disqus_shortname = "<%= j this_site.settings[:disqus_shortname] %>";
        var disqus_title = "<%= j @disqus_options[:title] %>";
        var disqus_category_id = "<%= j @disqus_options[:category].to_s %>";
        var disqus_identifier = "/<%= j @disqus_options[:path] %>";
        var disqus_url = "http://<%= j this_site.settings[:domain] %>/<%= j @disqus_options[:path] %>";
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
    <% end %>
    <% if Cartoonist::Asset.included_js? %>
      <%= javascript_include_tag "cartoonist" %>
    <% end %>
  </body>
</html>
