<% tweet = Tweet.tweet_for entity %>
<% if tweet.tweet_style != :disabled %>
  <% destination = :entity_edit if destination.nil? %>
  <%= form_tag tweet.form_path, :method => tweet.form_method do %>
    <input type="hidden" name="entity_id" value="<%= tweet.entity_id %>" />
    <input type="hidden" name="entity_type" value="<%= tweet.entity_type %>" />
    <input type="hidden" name="destination" value="<%= destination %>" />

    <p>
      <%= t "admin.tweets.entity_tweet.tweet" %><br />
      <textarea name="tweet" rows="2" cols="100" <%= 'disabled="disabled"'.html_safe unless tweet.allow_save? %>><%= tweet.tweet %></textarea>
    </p>

    <p>
      <input type="submit" name="save" value="<%= t "admin.tweets.entity_tweet.save" %>" <%= 'disabled="disabled"'.html_safe unless tweet.allow_save? %> />
    </p>

    <p>
      <input type="submit" name="tweet_now" value="<%= t "admin.tweets.entity_tweet.tweet_now" %>" <%= 'disabled="disabled"'.html_safe unless tweet.allow_tweet_now? %> />
    </p>

    <% if tweet.allow_resend_tweet? %>
      <p>
        <input type="submit" name="resend_tweet" value="<%= t "admin.tweets.entity_tweet.resend_tweet" %>" />
      </p>
    <% end %>
  <% end %>
<% end %>
