<% content_for :subtabs do %>
  <a class="subtab" href="/blog"><%= t "admin.layout.blog.latest" %></a>
  <a class="subtab" href="/blog_admin"><%= t "admin.layout.blog.list" %></a>
  <a class="subtab" href="/blog_admin/new"><%= t "admin.layout.blog.new" %></a>
  <a class="subtab" href="/blog_admin/preview"><%= t "admin.layout.admin.blog.preview" %></a>
<% end %>

<% content_for :page_title, t("admin.layout.blog.section") %>
<% content_for(:content) { yield } %>
<%= render :template => "layouts/admin" %>
