<% content_for :content_class, "blog-content" %>
<% licensed! %>
<% rss! "/blog/feed", t("blog.layout.rss_title", :site_name => Setting[:site_name]) %>

<% content_for :small_buttons do %>
  <% if @post.real? %>
    <a class="facebook" href="https://www.facebook.com/sharer.php?u=<%= u @post.absolute_url %>&t=<%= u t("blog.layout.facebook_text_message", :title => @post.title) %>" title="<%= t "blog.layout.facebook_title" %>"><%= t "blog.layout.facebook" %></a>
    <a class="twitter" href="https://twitter.com/intent/tweet?source=<%= u Setting[:domain] %>&text=<%= u t("blog.layout.twitter_text_message", :url => @post.absolute_url) %>" title="<%= t "blog.layout.twitter_title" %>"><%= t "blog.layout.twitter" %></a>
    <a class="google-plus" href="https://plus.google.com/share?url=<%= u @post.absolute_url %>" title="<%= t "blog.layout.google_plus_title" %>"><%= t "blog.layout.google_plus" %></a>
    <a class="rss" href="<%= rss_path %>" title="<%= rss_title %>"><%= t "blog.layout.rss" %></a>
  <% end %>
<% end %>

<% content_for :content do %>
  <div class="blog-page">
    <div class="nav-container">
      <div class="nav">
        <% if @disabled_prev %>
          <a class="first-disabled">first</a>
          <a class="prev-disabled">prev</a>
        <% else %>
          <a class="first" href="<%= blog_post_url yield(:first) %>">first</a>
          <a class="prev" href="<%= blog_post_url yield(:prev) %>">prev</a>
        <% end %>
        <a class="archives" href="/blog/archives">archives</a>
        <% if @disabled_next %>
          <a class="next-disabled">next</a>
          <a class="last-disabled">last</a>
        <% else %>
          <a class="next" href="<%= blog_post_url yield(:next) %>">next</a>
          <a class="last" href="<%= blog_current_url %>">last</a>
        <% end %>
      </div>
    </div>

    <%= yield %>

    <div class="nav-container">
      <div class="nav">
        <% if @disabled_prev %>
          <a class="first-disabled">first</a>
          <a class="prev-disabled">prev</a>
        <% else %>
          <a class="first" href="<%= blog_post_url yield(:first) %>">first</a>
          <a class="prev" href="<%= blog_post_url yield(:prev) %>">prev</a>
        <% end %>
        <a class="archives" href="/blog/archives">archives</a>
        <% if @disabled_next %>
          <a class="next-disabled">next</a>
          <a class="last-disabled">last</a>
        <% else %>
          <a class="next" href="<%= blog_post_url yield(:next) %>">next</a>
          <a class="last" href="<%= blog_current_url %>">last</a>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :post_date_content do %>
  <p class="posted-date">Posted on <%= yield :post_date %></p>
<% end %>

<% content_for :admin_content do %>
  <% if preview? %>
    <p><a href="/admin/main">admin</a></p>
  <% end %>
<% end %>

<%= render :template => "layouts/cartoonist" %>
