<% content_for :content_class, "comic-content" %>
<% licensed! %>
<% rss! "/comic/feed", t("comic.layout.rss_title", :site_name => Setting[:site_name]) %>

<% content_for :small_buttons do %>
  <% if @comic.real? %>
    <a class="facebook" href="https://www.facebook.com/sharer.php?u=<%= u @comic.absolute_url %>&t=<%= u t("comic.layout.facebook_text_message", :title => @comic.title) %>" title="<%= t "comic.layout.facebook_title" %>"><%= t "comic.layout.facebook" %></a>
    <a class="twitter" href="https://twitter.com/intent/tweet?source=<%= u Setting[:domain] %>&text=<%= u t("comic.layout.twitter_text_message", :title => @comic.title, :url => @comic.absolute_url) %>" title="<%= t "comic.layout.twitter_title" %>"><%= t "comic.layout.twitter" %></a>
    <a class="google-plus" href="https://plus.google.com/share?url=<%= u @comic.absolute_url %>" title="<%= t "comic.layout.google_plus_title" %>"><%= t "comic.layout.google_plus" %></a>
    <a class="rss" href="<%= rss_path %>" title="<%= rss_title %>"><%= t "comic.layout.rss" %></a>
  <% end %>
<% end %>

<% content_for :content do %>
  <div class="comic-page">
    <div class="nav-container top-nav">
      <div class="nav">
        <% if @disabled_prev %>
          <a class="first-disabled">first</a>
          <a class="prev-disabled">prev</a>
        <% else %>
          <a class="first" href="<%= comic_url 1 %>">first</a>
          <a class="prev" href="<%= comic_url yield(:prev) %>">prev</a>
        <% end %>
        <% if @comic.real? %>
          <a class="random" href="<%= random_url %>" rel="nofollow">random</a>
        <% else %>
          <a class="random-disabled" rel="nofollow">random</a>
        <% end %>
        <% if @disabled_next %>
          <a class="next-disabled">next</a>
          <a class="last-disabled">last</a>
        <% else %>
          <a class="next" href="<%= comic_url yield(:next) %>">next</a>
          <a class="last" href="<%= comic_current_url %>">last</a>
        <% end %>
      </div>
    </div>

    <%= yield %>

    <div class="nav-container bottom-nav">
      <div class="nav">
        <% if @disabled_prev %>
          <a class="first-disabled">first</a>
          <a class="prev-disabled">prev</a>
        <% else %>
          <a class="first" href="<%= comic_url 1 %>">first</a>
          <a class="prev" href="<%= comic_url yield(:prev) %>">prev</a>
        <% end %>
        <% if @comic.real? %>
          <a class="random" href="<%= random_url %>" rel="nofollow">random</a>
        <% else %>
          <a class="random-disabled" rel="nofollow">random</a>
        <% end %>
        <% if @disabled_next %>
          <a class="next-disabled">next</a>
          <a class="last-disabled">last</a>
        <% else %>
          <a class="next" href="<%= comic_url yield(:next) %>">next</a>
          <a class="last" href="<%= comic_current_url %>">last</a>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :post_date_content do %>
  <p class="posted-date">Posted on <%= yield :post_date %></p>
<% end %>

<% content_for :admin_content do %>
  <% if preview? %>
    <p><a href="/admin/main">admin</a></p>
  <% end %>
<% end %>

<%= render :template => "layouts/cartoonist" %>
