<% content_for :subtabs do %>
  <a class="subtab" href="/admin"><%= t "admin.general.layout.actions" %></a>
  <a class="subtab" href="/settings"><%= t "admin.general.layout.settings" %></a>
  <a class="subtab" href="/cache"><%= t "admin.general.layout.cache" %></a>
  <a class="subtab" href="/static_cache"><%= t "admin.general.layout.static_cache" %></a>
<% end %>

<% content_for :page_title, t("admin.general.layout.section") %>
<% content_for(:content) { yield } %>
<%= render :template => "layouts/admin" %>
