<!DOCTYPE html>
<html>
  <head>
    <title>Sign In</title>
    <%= csrf_meta_tags %>
    <link rel="icon" href="http://<%= CartoonistConfig[:domain] %><%= asset_path CartoonistThemes.favicon %>" type="image/x-icon" />
    <link rel="shortcut icon" href="http://<%= CartoonistConfig[:domain] %><%= asset_path CartoonistThemes.favicon %>" type="image/x-icon" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
