<a href="/accounts/new"><%= t "accounts.index.new_user" %></a>

<table>
  <thead>
    <tr>
      <th><%= t "accounts.index.name" %></th>
      <th><%= t "accounts.index.email" %></th>
      <th><%= t "accounts.index.edit" %></th>
      <th><%= t "accounts.index.delete" %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><a href="/accounts/<%= user.id %>/edit"><%= t "accounts.index.edit_button" %></a></td>
        <td>
          <% if current_user.id != user.id %>
            <%= form_tag "/accounts/#{user.id}", :method => :delete do %>
              <input type="submit" value="<%= t "accounts.index.delete_button" %>" />
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
